<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charlie's Spyfall</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Optional Bootstrap theme-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/738d340a11.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles.css">
        <!--<script type="text/javascript" src="index.js"></script>-->

</head>
<body>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">SpyfallCompanion</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="https://boardgamegeek.com/boardgame/166384/spyfall">Learn More</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://github.com/charluo">Github</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="page-top" class="container">

    <div id="jumbotron-1" class="jumbotron">
        <p class="text-center">Prepare for Spyfall.</p>
        <p id="jumbo-text"></p>
        <br/>
        <div class="btn-group-lg text-center">
            <button id="start-button" class="btn btn-success lg">Start Game</button>
            <button id="join-button" class="btn btn-info lg">Join Game</button>
        </div>

        <div id = "game-form" class="container invis">
            <div class="row">
                <h1 style="text-align: center">Game Setup</h1>
                <div style="width: 30%; margin: 25px auto;">
                    <!--<form action="/create_game" method="post">-->
                    <form>
                        <div class="form-group">
                            Number of players: <input id="player-input" class="form-control" type="number" pattern="[3-8]" name="num_players" placeholder="3-8">
                        </div>
                        <div class="form-group">
                            Number of spies: <input id="spies-input" class="form-control" type="number" pattern="[1-2]" name="num_spies" placeholder="1-2">
                        </div>
                    </form>
                        <div class="form-group">
                            <button id="create-game-button" class="btn btn-lg btn-primary btn-block">Generate ID</button>
                        </div>
                </div>
            </div>
        </div>

        <div id="join-form" class="container invis">
            <div class="row">
                <h1 style="text-align: center">Joining Game</h1>
                <div style="width: 30%; margin: 25px auto;">
                    <!--<form action="/login" method="post">-->
                    <form>
                        <div class="form-group">
                            <input id="id-input" class="form-control" type="text" name="room_id" placeholder="ID Room">
                        </div>
                    </form>
                        <div>
                            <button id="join-game-button" class="btn btn-lg btn-primary btn-block">Enter Room</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="game-box">
        <div id="jumbotron-2"class="jumbotron">
            <!--<h4 class="text-center">GAME BOX</h1>-->
            <p id="game-text">Waiting on game...</p>
        </div>
    </div>
    
    <div class="container">
        <h4 class="text-center">List of Possible Locations</h4>
        <hr>
        <div class="col-lg-6" id="location-list">
            <li>        Airplane</li>
            <li>        Bank</li>
            <li>        Beach</li>
            <li>        Broadway Theater</li>
            <li>        Casino</li>
            <li>        Cathedral</li>
            <li>        Circus Tent</li>
            <li>        Corporate Party</li>
            <li>        Crusader Army</li>
            <li>        Day Spa</li>
            <li>        Embassy</li>
            <li>        Hospital</li>
            <li>        Hotel</li>
            <li>        Military Base</li>
            <li>        Movie Studio</li>
            <li>        Ocean Liner</li>
            <li>        Passenger Train</li>
            <li>        Pirate Ship</li>
            <li>        Polar Station</li>
            <li>        Police Station</li>
            <li>        Restaurant</li>
            <li>        School</li>
            <li>        Service Station</li>
            <li>        Space Station</li>
            <li>        Submarine</li>
            <li>        Supermarket</li>
            <li>        University</li>
        </div>
         <div class="col-lg-6" id="location-list">
            <li>        Amusement Park</li>
            <li>        Art Museum</li>
            <li>        Candy Factory</li>
            <li>        Cat Show</li>
            <li>        Cemetery</li>
            <li>        Coal Mine</li>
            <li>        Construction Site</li>
            <li>        Gaming Convention</li>
            <li>        Gas Station</li>
            <li>        Harbor Docks</li>
            <li>        Ice Hockey Stadium</li>
            <li>        Jail</li>
            <li>        Jazz Club</li>
            <li>        Library</li>
            <li>        Night Club</li>
            <li>        Race Track</li>
            <li>        Retirement Home</li>
            <li>        Rock Concert</li>
            <li>        Sightseeing Bus</li>
            <li>        Stadium</li>
            <li>        Subway</li>
            <li>        The Un</li>
            <li>        Vineyard</li>
            <li>        Wedding</li>
            <li>        Zoo</li>
            </div>
    </div>
    
    <div class="container">
        <hr>
        <h4 class="text-center">ABOUT THE GAME</h4>
        <p>Spyfall is a party game unlike any other, one in which you get to be a spy and try to understand what's going on around you. It's really simple!
    
            Spyfall is played over several rounds, and at the start of each round all players receive cards showing the same location — a casino,
            a traveling circus, a pirate ship, or even a space station — except that one player receives a card that says "Spy" instead of the location.
            Players then start asking each other questions — "Why are you dressed so strangely?" or "When was the last time we got a payday?" or anything
            else you can come up with — trying to guess who among them is the spy. The spy doesn't know where he is, so he has to listen carefully. When
            it's his time to answer, he'd better create a good story!</p>
        </div>
    
    </div>

<div id="chat-box" class="container">
    <h3>Global Chat</h3>
    <hr/>
    <div id="global-chat">
        <p>Discuss with others and get together to play some Spyfall.</p>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="Username" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>

</div>

<footer>
    <div class="container text-center">
        <div class="row">
            <div class="text-center">
                <span class="copyright">Created by Charles Luo 2017</span>
            </div>
        </div>
    </div>
</footer>



<!--<script type="text/javascript" src="chat.js"></script>-->
    <script type="text/javascript" src="index.js"></script>
</body>
</html>