*{
    font-family: "Montserrat" , "Roboto";
}

body{
    background-color: #c3c3c3;
}

.btn-success, .btn-info {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send{
    /*background: #575ed8;*/
    background:	#f45541;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

#jumbotron-1 {
    /*background-color: #c8d69e;*/
    background-color: #c3c3c3;
    margin-top: 75px;
}

#jumbotron-2 {
    background-color: #c3c3c3;
    font-family: "Kaushan Script";
    border: solid black;
}

footer {
    padding: 20px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 60px; !* Height of the footer *!*/
}

.invis {
    display:none;
}

/*Bootstrap temp styles*/
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}

.navbar-custom .navbar-brand {
  color: #32ad6d;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
  background-color: #32ad6d;
  border-color: #32ad6d;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}


































